<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<string></string>
	<key>fluxalodeon_version</key>
	<integer>1</integer>
	<key>accelerometer_enabled</key>
	<false/>
	<key>group</key>
	<integer>1</integer>
	<key>help</key>
	<string></string>
	<key>instrument_id</key>
	<integer>3</integer>
	<key>interactive_inputs</key>
	<array>
		<dict>
			<key>height</key>
			<integer>58</integer>
			<key>input_id</key>
			<string>slider_a1</string>
			<key>input_type</key>
			<integer>5</integer>
			<key>linked_to_output</key>
			<integer>0</integer>
			<key>linked_to_seq_cpm</key>
			<integer>0</integer>
			<key>linked_to_seq_length</key>
			<integer>0</integer>
			<key>max</key>
			<integer>410</integer>
			<key>min</key>
			<integer>70</integer>
			<key>patch_input</key>
			<string>dc3a</string>
			<key>scale</key>
			<integer>1</integer>
			<key>sequenced_by</key>
			<integer>0</integer>
			<key>start_angle</key>
			<integer>0</integer>
			<key>state</key>
			<integer>0</integer>
			<key>step</key>
			<integer>1</integer>
			<key>step_num</key>
			<integer>0</integer>
			<key>sweep_angle</key>
			<integer>0</integer>
			<key>value</key>
			<real>0.5</real>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
			<key>width</key>
			<integer>93</integer>
			<key>x</key>
			<integer>240</integer>
			<key>y</key>
			<integer>167</integer>
		</dict>

		<dict>
			<key>height</key>
			<integer>75</integer>
			<key>input_id</key>
			<string>pot_a1</string>
			<key>input_type</key>
			<integer>1</integer>
			<key>linked_to_output</key>
			<integer>0</integer>
			<key>linked_to_seq_cpm</key>
			<integer>0</integer>
			<key>linked_to_seq_length</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>0</integer>
			<key>patch_input</key>
			<string>dc1a</string>
			<key>scale</key>
			<integer>1</integer>
			<key>sequenced_by</key>
			<integer>0</integer>
			<key>start_angle</key>
			<integer>0</integer>
			<key>state</key>
			<integer>0</integer>
			<key>step</key>
			<integer>1</integer>
			<key>step_num</key>
			<integer>0</integer>
			<key>sweep_angle</key>
			<integer>0</integer>
			<key>value</key>
			<real>0.5</real>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
			<key>width</key>
			<integer>75</integer>
			<key>x</key>
			<integer>59</integer>
			<key>y</key>
			<integer>274</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>75</integer>
			<key>input_id</key>
			<string>pot_a2</string>
			<key>input_type</key>
			<integer>1</integer>
			<key>linked_to_output</key>
			<integer>0</integer>
			<key>linked_to_seq_cpm</key>
			<integer>0</integer>
			<key>linked_to_seq_length</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>0</integer>
			<key>patch_input</key>
			<string>dc2a</string>
			<key>scale</key>
			<integer>1</integer>
			<key>sequenced_by</key>
			<integer>0</integer>
			<key>start_angle</key>
			<integer>0</integer>
			<key>state</key>
			<integer>0</integer>
			<key>step</key>
			<integer>1</integer>
			<key>step_num</key>
			<integer>0</integer>
			<key>sweep_angle</key>
			<integer>0</integer>
			<key>value</key>
			<real>0.25</real>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
			<key>width</key>
			<integer>74</integer>
			<key>x</key>
			<integer>155</integer>
			<key>y</key>
			<integer>274</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>75</integer>
			<key>input_id</key>
			<string>pot_a3</string>
			<key>input_type</key>
			<integer>1</integer>
			<key>linked_to_output</key>
			<integer>0</integer>
			<key>linked_to_seq_cpm</key>
			<integer>0</integer>
			<key>linked_to_seq_length</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>0</integer>
			<key>patch_input</key>
			<string>dc4a</string>
			<key>scale</key>
			<integer>1</integer>
			<key>sequenced_by</key>
			<integer>0</integer>
			<key>start_angle</key>
			<integer>0</integer>
			<key>state</key>
			<integer>0</integer>
			<key>step</key>
			<integer>1</integer>
			<key>step_num</key>
			<integer>0</integer>
			<key>sweep_angle</key>
			<integer>0</integer>
			<key>value</key>
			<real>0.75</real>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
			<key>width</key>
			<integer>75</integer>
			<key>x</key>
			<integer>326</integer>
			<key>y</key>
			<integer>274</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>75</integer>
			<key>input_id</key>
			<string>pot_a4</string>
			<key>input_type</key>
			<integer>1</integer>
			<key>linked_to_output</key>
			<integer>0</integer>
			<key>linked_to_seq_cpm</key>
			<integer>0</integer>
			<key>linked_to_seq_length</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>0</integer>
			<key>patch_input</key>
			<string>dc5a</string>
			<key>scale</key>
			<integer>1</integer>
			<key>sequenced_by</key>
			<integer>0</integer>
			<key>start_angle</key>
			<integer>0</integer>
			<key>state</key>
			<integer>0</integer>
			<key>step</key>
			<integer>1</integer>
			<key>step_num</key>
			<integer>0</integer>
			<key>sweep_angle</key>
			<integer>0</integer>
			<key>value</key>
			<real>0.5</real>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
			<key>width</key>
			<integer>75</integer>
			<key>x</key>
			<integer>422</integer>
			<key>y</key>
			<integer>274</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>75</integer>
			<key>input_id</key>
			<string>pot_a5</string>
			<key>input_type</key>
			<integer>1</integer>
			<key>linked_to_output</key>
			<integer>0</integer>
			<key>linked_to_seq_cpm</key>
			<integer>0</integer>
			<key>linked_to_seq_length</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>0</integer>
			<key>patch_input</key>
			<string>dc6a</string>
			<key>scale</key>
			<integer>1</integer>
			<key>sequenced_by</key>
			<integer>0</integer>
			<key>start_angle</key>
			<integer>0</integer>
			<key>state</key>
			<integer>0</integer>
			<key>step</key>
			<integer>1</integer>
			<key>step_num</key>
			<integer>0</integer>
			<key>sweep_angle</key>
			<integer>0</integer>
			<key>value</key>
			<real>0.5</real>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
			<key>width</key>
			<integer>75</integer>
			<key>x</key>
			<real>59.5</real>
			<key>y</key>
			<integer>95</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>75</integer>
			<key>input_id</key>
			<string>pot_a6</string>
			<key>input_type</key>
			<integer>1</integer>
			<key>linked_to_output</key>
			<integer>0</integer>
			<key>linked_to_seq_cpm</key>
			<integer>0</integer>
			<key>linked_to_seq_length</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>0</integer>
			<key>patch_input</key>
			<string>dc7a</string>
			<key>scale</key>
			<integer>1</integer>
			<key>sequenced_by</key>
			<integer>0</integer>
			<key>start_angle</key>
			<integer>0</integer>
			<key>state</key>
			<integer>0</integer>
			<key>step</key>
			<integer>1</integer>
			<key>step_num</key>
			<integer>0</integer>
			<key>sweep_angle</key>
			<integer>0</integer>
			<key>value</key>
			<real>0.5</real>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
			<key>width</key>
			<integer>75</integer>
			<key>x</key>
			<real>148.15</real>
			<key>y</key>
			<integer>95</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>75</integer>
			<key>input_id</key>
			<string>pot_a7</string>
			<key>input_type</key>
			<integer>1</integer>
			<key>linked_to_output</key>
			<integer>0</integer>
			<key>linked_to_seq_cpm</key>
			<integer>0</integer>
			<key>linked_to_seq_length</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>0</integer>
			<key>patch_input</key>
			<string>dc8a</string>
			<key>scale</key>
			<integer>1</integer>
			<key>sequenced_by</key>
			<integer>0</integer>
			<key>start_angle</key>
			<integer>0</integer>
			<key>state</key>
			<integer>0</integer>
			<key>step</key>
			<integer>1</integer>
			<key>step_num</key>
			<integer>0</integer>
			<key>sweep_angle</key>
			<integer>0</integer>
			<key>value</key>
			<real>0.5</real>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
			<key>width</key>
			<integer>75</integer>
			<key>x</key>
			<real>237.15</real>
			<key>y</key>
			<integer>95</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>75</integer>
			<key>input_id</key>
			<string>pot_a8</string>
			<key>input_type</key>
			<integer>1</integer>
			<key>linked_to_output</key>
			<integer>0</integer>
			<key>linked_to_seq_cpm</key>
			<integer>0</integer>
			<key>linked_to_seq_length</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>0</integer>
			<key>patch_input</key>
			<string>dc9a</string>
			<key>scale</key>
			<integer>1</integer>
			<key>sequenced_by</key>
			<integer>0</integer>
			<key>start_angle</key>
			<integer>0</integer>
			<key>state</key>
			<integer>0</integer>
			<key>step</key>
			<integer>1</integer>
			<key>step_num</key>
			<integer>0</integer>
			<key>sweep_angle</key>
			<integer>0</integer>
			<key>value</key>
			<real>0.5</real>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
			<key>width</key>
			<integer>75</integer>
			<key>x</key>
			<integer>326</integer>
			<key>y</key>
			<integer>95</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>75</integer>
			<key>input_id</key>
			<string>pot_a9</string>
			<key>input_type</key>
			<integer>1</integer>
			<key>linked_to_output</key>
			<integer>0</integer>
			<key>linked_to_seq_cpm</key>
			<integer>0</integer>
			<key>linked_to_seq_length</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>0</integer>
			<key>patch_input</key>
			<string>dc10a</string>
			<key>scale</key>
			<integer>1</integer>
			<key>sequenced_by</key>
			<integer>0</integer>
			<key>start_angle</key>
			<integer>0</integer>
			<key>state</key>
			<integer>0</integer>
			<key>step</key>
			<integer>1</integer>
			<key>step_num</key>
			<integer>0</integer>
			<key>sweep_angle</key>
			<integer>0</integer>
			<key>value</key>
			<real>0.5</real>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
			<key>width</key>
			<integer>75</integer>
			<key>x</key>
			<integer>421</integer>
			<key>y</key>
			<integer>95</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>22</integer>
			<key>input_id</key>
			<string>state_a1</string>
			<key>input_type</key>
			<integer>16</integer>
			<key>linked_to_output</key>
			<integer>0</integer>
			<key>linked_to_seq_cpm</key>
			<integer>0</integer>
			<key>linked_to_seq_length</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>0</integer>
			<key>patch_input</key>
			<string>state1a</string>
			<key>scale</key>
			<integer>1</integer>
			<key>sequenced_by</key>
			<integer>0</integer>
			<key>start_angle</key>
			<integer>0</integer>
			<key>state</key>
			<integer>0</integer>
			<key>step</key>
			<integer>1</integer>
			<key>step_num</key>
			<integer>0</integer>
			<key>sweep_angle</key>
			<integer>0</integer>
			<key>value</key>
			<real>0</real>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
			<key>width</key>
			<integer>22</integer>
			<key>x</key>
			<integer>213</integer>
			<key>y</key>
			<integer>272</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>22</integer>
			<key>input_id</key>
			<string>state_a2</string>
			<key>input_type</key>
			<integer>16</integer>
			<key>linked_to_output</key>
			<integer>0</integer>
			<key>linked_to_seq_cpm</key>
			<integer>0</integer>
			<key>linked_to_seq_length</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>0</integer>
			<key>patch_input</key>
			<string>state2a</string>
			<key>scale</key>
			<integer>1</integer>
			<key>sequenced_by</key>
			<integer>0</integer>
			<key>start_angle</key>
			<integer>0</integer>
			<key>state</key>
			<integer>0</integer>
			<key>step</key>
			<integer>1</integer>
			<key>step_num</key>
			<integer>0</integer>
			<key>sweep_angle</key>
			<integer>0</integer>
			<key>value</key>
			<real>0</real>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
			<key>width</key>
			<integer>22</integer>
			<key>x</key>
			<integer>240</integer>
			<key>y</key>
			<integer>272</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>22</integer>
			<key>input_id</key>
			<string>state_a3</string>
			<key>input_type</key>
			<integer>16</integer>
			<key>linked_to_output</key>
			<integer>0</integer>
			<key>linked_to_seq_cpm</key>
			<integer>0</integer>
			<key>linked_to_seq_length</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>0</integer>
			<key>patch_input</key>
			<string>state3a</string>
			<key>scale</key>
			<integer>1</integer>
			<key>sequenced_by</key>
			<integer>0</integer>
			<key>start_angle</key>
			<integer>0</integer>
			<key>state</key>
			<integer>0</integer>
			<key>step</key>
			<integer>1</integer>
			<key>step_num</key>
			<integer>0</integer>
			<key>sweep_angle</key>
			<integer>0</integer>
			<key>value</key>
			<real>0</real>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
			<key>width</key>
			<integer>22</integer>
			<key>x</key>
			<integer>268</integer>
			<key>y</key>
			<integer>272</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>22</integer>
			<key>input_id</key>
			<string>state_a4</string>
			<key>input_type</key>
			<integer>16</integer>
			<key>linked_to_output</key>
			<integer>0</integer>
			<key>linked_to_seq_cpm</key>
			<integer>0</integer>
			<key>linked_to_seq_length</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>0</integer>
			<key>patch_input</key>
			<string>state4a</string>
			<key>scale</key>
			<integer>1</integer>
			<key>sequenced_by</key>
			<integer>0</integer>
			<key>start_angle</key>
			<integer>0</integer>
			<key>state</key>
			<integer>0</integer>
			<key>step</key>
			<integer>1</integer>
			<key>step_num</key>
			<integer>0</integer>
			<key>sweep_angle</key>
			<integer>0</integer>
			<key>value</key>
			<real>0</real>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
			<key>width</key>
			<integer>22</integer>
			<key>x</key>
			<integer>213</integer>
			<key>y</key>
			<integer>244</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>22</integer>
			<key>input_id</key>
			<string>state_a5</string>
			<key>input_type</key>
			<integer>16</integer>
			<key>linked_to_output</key>
			<integer>0</integer>
			<key>linked_to_seq_cpm</key>
			<integer>0</integer>
			<key>linked_to_seq_length</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>0</integer>
			<key>patch_input</key>
			<string>state5a</string>
			<key>scale</key>
			<integer>1</integer>
			<key>sequenced_by</key>
			<integer>0</integer>
			<key>start_angle</key>
			<integer>0</integer>
			<key>state</key>
			<integer>0</integer>
			<key>step</key>
			<integer>1</integer>
			<key>step_num</key>
			<integer>0</integer>
			<key>sweep_angle</key>
			<integer>0</integer>
			<key>value</key>
			<real>0</real>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
			<key>width</key>
			<integer>22</integer>
			<key>x</key>
			<integer>240</integer>
			<key>y</key>
			<integer>244</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>22</integer>
			<key>input_id</key>
			<string>state_a6</string>
			<key>input_type</key>
			<integer>16</integer>
			<key>linked_to_output</key>
			<integer>0</integer>
			<key>linked_to_seq_cpm</key>
			<integer>0</integer>
			<key>linked_to_seq_length</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>0</integer>
			<key>patch_input</key>
			<string>state6a</string>
			<key>scale</key>
			<integer>1</integer>
			<key>sequenced_by</key>
			<integer>0</integer>
			<key>start_angle</key>
			<integer>0</integer>
			<key>state</key>
			<integer>0</integer>
			<key>step</key>
			<integer>1</integer>
			<key>step_num</key>
			<integer>0</integer>
			<key>sweep_angle</key>
			<integer>0</integer>
			<key>value</key>
			<real>0</real>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
			<key>width</key>
			<integer>22</integer>
			<key>x</key>
			<integer>268</integer>
			<key>y</key>
			<integer>244</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>22</integer>
			<key>input_id</key>
			<string>state_a7</string>
			<key>input_type</key>
			<integer>16</integer>
			<key>linked_to_output</key>
			<integer>0</integer>
			<key>linked_to_seq_cpm</key>
			<integer>0</integer>
			<key>linked_to_seq_length</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>0</integer>
			<key>patch_input</key>
			<string>state7a</string>
			<key>scale</key>
			<integer>1</integer>
			<key>sequenced_by</key>
			<integer>0</integer>
			<key>start_angle</key>
			<integer>0</integer>
			<key>state</key>
			<integer>0</integer>
			<key>step</key>
			<integer>1</integer>
			<key>step_num</key>
			<integer>0</integer>
			<key>sweep_angle</key>
			<integer>0</integer>
			<key>value</key>
			<real>0</real>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
			<key>width</key>
			<integer>22</integer>
			<key>x</key>
			<integer>213</integer>
			<key>y</key>
			<integer>216</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>22</integer>
			<key>input_id</key>
			<string>state_a8</string>
			<key>input_type</key>
			<integer>16</integer>
			<key>linked_to_output</key>
			<integer>0</integer>
			<key>linked_to_seq_cpm</key>
			<integer>0</integer>
			<key>linked_to_seq_length</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>0</integer>
			<key>patch_input</key>
			<string>state8a</string>
			<key>scale</key>
			<integer>1</integer>
			<key>sequenced_by</key>
			<integer>0</integer>
			<key>start_angle</key>
			<integer>0</integer>
			<key>state</key>
			<integer>1</integer>
			<key>step</key>
			<integer>1</integer>
			<key>step_num</key>
			<integer>0</integer>
			<key>sweep_angle</key>
			<integer>0</integer>
			<key>value</key>
			<real>0</real>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
			<key>width</key>
			<integer>22</integer>
			<key>x</key>
			<integer>240</integer>
			<key>y</key>
			<integer>216</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>22</integer>
			<key>input_id</key>
			<string>state_a9</string>
			<key>input_type</key>
			<integer>16</integer>
			<key>linked_to_output</key>
			<integer>0</integer>
			<key>linked_to_seq_cpm</key>
			<integer>0</integer>
			<key>linked_to_seq_length</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>0</integer>
			<key>patch_input</key>
			<string>state9a</string>
			<key>scale</key>
			<integer>1</integer>
			<key>sequenced_by</key>
			<integer>0</integer>
			<key>start_angle</key>
			<integer>0</integer>
			<key>state</key>
			<integer>0</integer>
			<key>step</key>
			<integer>1</integer>
			<key>step_num</key>
			<integer>0</integer>
			<key>sweep_angle</key>
			<integer>0</integer>
			<key>value</key>
			<real>0</real>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
			<key>width</key>
			<integer>22</integer>
			<key>x</key>
			<integer>268</integer>
			<key>y</key>
			<integer>216</integer>
		</dict>
		
	</array>
	<key>name</key>
	<string>DromWithPresets</string>
	<key>orientation</key>
	<string>1</string>
	<key>patch_name</key>
	<string>pd-Drom.pd</string>
	<key>sequences</key>
	<array/>
	<key>type</key>
	<integer>1</integer>
</dict>
</plist>
